<!-- routed component -->
<router-outlet>
<!-- Navbar -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">Customer Record</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="home">Home</a></li>
      <li><a href="customerdetail">Customer Detail</a></li>
      <li><a href="customerlist">Customer List</a></li>
    </ul>
  </div>
</nav>

<!--Copyright-->
  <div class="footer-copyright">
    <div class="container-fluid postion">
      © 2017 Copyright: <a href="https://www.google.com"> Google.com </a>
    </div>
  </div>
<!--/.Copyright-->
</router-outlet>
