<body>
  <img class="bgimage" src="http://www.akrbtech.com/Website/Images/rms_operation.png" alt="customer flow">
  <div class="showdata">
  <div class="showtable">
      <h2>Customer Detail Table </h2>
      <div class="form-group">
          <div class="col-md-6" style="padding: 12px;">
            <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search By Name" />
          </div>
        </div>

    <div class="col-md-12">
      <table class="table table-responsive table-hover">
        <tr>
          <th>ID</th>
          <th (click)="sort()">Name &#8593;</th>
          <th>Email ID</th>
          <th>Rating</th>
          <th>Rating No</th>
        </tr>
        <tr *ngFor="let item of names | namesearch: searchText | namesort:usepipe">
          <td>{{item.id}}</td>
          <td>{{item.name}}</td>
          <td>{{item.email}}</td>
          <td>
            <app-rating [rating]='item.rating'
                        [itemId]='item.id'
                        (ratingClick)='ratingComponetClick($event)'>
            </app-rating>
          </td>
          <td>{{item.rating}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
</body>
<div class="namesort:usepipe"></div>